body { margin-bottom: 0px; margin-top: 0px; margin-left: 0px; margin-right: 0px; background-color:#3b5999; } 
#container { 
border-radius: 0px; 
border:4px solid #; 
background-color:#; 
padding:0px; 
padding-top:0px; 
width:95%; min-width:300px; 
max-width:600px; position: relative; 
margin:10px auto; }

article {
    padding-top: 20px;
}
article h2 {
    padding-left: 50px;
}
article p {
    padding-left: 25px;
}

#topbg { 
width:100%; 
height: 300px; 
position:fixed; 
background-color:#333; 
background-image: -moz-linear-gradient( 90deg, rgb( 51, 51, 51 ) 0%, rgb( 85, 85, 85 ) 100%); 
background-image: -webkit-linear-gradient( 90deg, rgb( 51, 51, 51 ) 0%, rgb( 85, 85, 85 ) 100%); } 

#top { width:100%; 
min-height:px; 
background-color:#; 
font-size:29px; 
color: #97b8fd; 
font-family: 'Open Sans',sans-serif; 
font-weight:bold; 
text-shadow: 1px 1px 1px #; 
padding-top:12px; padding-bottom:12px; } 

#right { margin: 0px auto; overflow:hidden; 
border-left:0px solid #cccccc; 
border-radius: 0px; width:; } 

#q00, #q0, #q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9 { 
border-radius: px; 
overflow:hidden; 
background-color:#; 
border:1px solid #; 
padding:0px; width:100%; 
min-width:300px; 
max-width:600px; 
margin-top:px; 
display:none; 
position:absolute; 
overflow:; line-height:28px; 
font-size:22px; color: #fff; 
font-family: 'Open Sans',sans-serif; } 

.btnyes { 
font-size:30px; 
color: #fff; 
font-family: 'Open Sans',sans-serif; 
text-shadow: 1px 1px #; 
width:100%; min-width:200px; 
background-color:#6ca655; 
border-radius:4px; 
display:inline-block; 
cursor:pointer; 
font-weight:bold; 
padding:20px 0px; 
text-decoration:none; 
border:0px solid #fff; 
border-bottom:px solid #; 
text-shadow: 0px 1px #; } 

.btnno { 
font-size:30px; 
color: #fff; 
font-family: 'Open Sans',sans-serif; 
text-shadow: 1px 1px #; 
width:100%; 
min-width:200px; 
background-color:#aaaaaa; 
border-radius:4px; 
display:inline-block; 
cursor:pointer; 
font-weight:bold; 
padding:20px 0px; 
text-decoration:none; 
border:0px solid #fff; 
border-bottom:px solid #; 
text-shadow: 0px 1px #; } 

.btnnext { 
font-size:30px; 
color: #fff; 
font-family: 'Open Sans',sans-serif; 
text-shadow: 1px 1px #; width:100%; 
min-width:200px; 
background-color:#6ca655;
border-radius:4px; 
display:inline-block; 
cursor:pointer; 
font-weight:bold; 
padding:20px 0px; 
text-decoration:none; 
border:0px solid #fff; 
border-bottom:px solid #; 
text-shadow: 0px 1px #; } 

#box { 
margin: 0 auto; 
padding:10px; } 

#box2 { 
width:50%; 
min-width:300px; 
margin: 0 auto; 
padding:10px; } 

#popup-wrapper { 
position: fixed; 
top: 0; 
left: 0; 
width: 100%; 
height: 100%; 
z-index: 1001; 
background-color: 
rgba(0,0,0, .7 ) } 

#popup { 
width: 300px; 
font-size:22px; 
color: #666; 
font-family: 'Open Sans',sans-serif; 
background-color: #fff; 
border-radius: 10px; 
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
position: relative; 
top: 40%; 
left: 50%; 
text-align: center; 
margin: -210px 0 0 -150px; 
padding: 10px; 
border: 3px solid #2babe1; 
-webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1); 
-moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1); 
box-shadow: 0px 0px 5px 0px rgba(255,255,255,1); } 

.h1_1 { 
font-size:40px; 
color: #666; font-family: 'Open Sans',sans-serif; 
text-shadow: 1px 1px 1px #fff; } 

.h1_2 { 
font-size:28px; 
color: #fff; 
font-family: 'Open Sans',sans-serif; 
text-shadow: 1px 1px 1px #;  } 

.h1 { 
font-size:40px; 
color: #fff; 
font-family: 'Open Sans',sans-serif; 
text-shadow: 1px 1px 1px #; } 

.style1 { 
font-size:20px; 
color: #97b8fd; 
font-family: 'Open Sans',sans-serif; } 

.style2 { 
font-size:18px; 
color: #fff; 
font-family: 'Open Sans',sans-serif; 
font-weight:;} 

.styleq1 { 
font-size:23px; 
color: #97b8fd; 
font-family: 'Open Sans',sans-serif; 
font-weight:bold; } 

.styleq2 { 
font-weight:;} 

.circle1 { 
font-size:23px; 
color: #fff; 
font-family: 'Open Sans',sans-serif; 
font-weight:bold; 
background:#97b8fd; 
border-radius:3px; 
padding:8px 18px; 
text-shadow: 1px 1px 1px #; } 

.circle2 { 
font-size:23px; 
color: #888; 
font-family: 'Open Sans',sans-serif; 
font-weight:bold; 
background:#ececec; 
border-radius:3px; 
padding:8px 18px; 
text-shadow:0 1px # } 
@media screen and (max-width: 500px){ #q00, #q0, #q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9 { 
font-size:18px; line-height:21px; } 

.h1 {font-size:22px;} 
.style2 { font-size:15px; } 
.h1_2 { font-size:22px; line-height:25px} 
.style1 { font-size:14px; } #top {font-size:16px;} 
.btnyes {font-size:24px; width:100%} 
.btnno {font-size:24px; width:100%} 
.btnnext {font-size:24px; width:100%} 
#topbefore {background-color:#e6e6ea; padding:6px; width:89%; margin:0 auto; text-align:left} }

#main-content {
    padding-top: 1500px;
}
