
/* ---------- Color Module Styles ----------- */

body {
  background: url('../images/background.jpg');
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper {
  background: #ffffff;
}

.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background: url('../images/header-bg.jpg') no-repeat top center;
}
a:link, a:visited {
  color: blue;
  text-decoration: none;
}
a:hover, a:active {
  color: red;
  text-decoration: underline;
}
h1, h2 {
  color: #F00;
}
h3 {
  color: gray;
}
#navigation .selector {
  color: #fff;
  background-color: #F00;
  background-image: url("../images/responsive-nav.png");
  background-repeat: no-repeat;
  background-position: right center;
}
#navigation .selector option {
  background: #fff;
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid #eaeaea;
}
#page-wrapper,
#footer-wrapper {
  background: #efefef;
}

#main-menu ul.menu a {
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#main-menu ul.menu a:hover,
#main-menu ul.menu a:focus,
#main-menu ul.menu a:active,
#main-menu ul.menu li a.active,
#main-menu ul.menu li a.active-trail {
  color: #F00;
}
#main-menu ul.menu ul {
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #eaeaea;
}
#main-menu ul.menu ul li.first {
  background-image: url("../images/up-aero.png");
  background-repeat: no-repeat;
  background-position: 15px top;
  padding-top: 10px;
  margin-top: -10px;
}
#main-menu ul.menu ul li a {
  border: 0;
  -khtml-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #eaeaea;
}
#main-menu ul.menu ul ul li.first {
  background: none;
}

.top-links a.piano {
  background: url("../images/piano.gif") no-repeat scroll 0 0 transparent;
  display: inline-block;
  font-size: 0;
  text-indent: -999px;
  height: 34px;
  width: 200px;
}
.top-links a.piano:hover{
  background: url('../images/piano-hover.gif') no-repeat scroll 0 0 transparent;
}
  
.top-links a.contact{
  background: url("../images/contact.gif") no-repeat scroll 0 0 transparent;
  display: inline-block;
  font-size: 0;
  text-indent: -999px;
  height: 34px;
  width: 170px;
}
.top-links a.contact:hover{
  background: url('../images/contact-hover.gif') no-repeat scroll 0 0 transparent;
}

/* ---- Navigation select box selector ----- */
#navigation .selector option:hover {
 background: #F00;
}

footer.link-wrapper {
  border-left: 2px solid #eaeaea;
  border-right: 2px solid #eaeaea;
  background: rgba(234, 234, 234, 0.5);
}

 
/* ----- selected text -------- */
::-moz-selection{ background: #F00; color: #ffffff; text-shadow: none; }
::selection { background: #F00; color: #ffffff; text-shadow: none; } 

