/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  height: 100%;
}
#page-wrapper {
  min-height: 100%;
  background: #fff;
}
#header div.section,
#menu-bar div.section,
#messages div.section,
#main,
#footer {
  width: 100%;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}
#header {
  position: relative;
  text-align: center;
}
.top-links {
  clear: both;
  width: 100%;
  margin: 10px 0;
  text-align: center;
}
.top-links ul, .top-links ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}
#navigation {
  margin: 1em 15px;
  clear: both;
  position: relative;
}
#main-wrapper {
  min-height: 300px;
}
#content .section,
.sidebar .section {
  padding: 0 15px;
}
.region-content .block {
  padding: 0;
  margin: 0 0 50px 0;
  width: 100%;
}
.sidebar .block {
  margin-bottom: 20px;
}
#footer-wrapper {
  padding: 20px 0;
  overflow: hidden;
  -webkit-box-shadow:  0px 0px 1px 0px rgba(255, 255, 255, 0.3);
  box-shadow:  0px 0px 1px 0px rgba(255, 255, 255, 0.3);
}
#footer-wrapper p {
  margin: 0;
}
.row {
  margin-bottom: 50px;
  clear: both;
  float: left;
  width: 100%;
}