  #page-wrapper {
    max-width: 960px;
    margin: 20px auto;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
  }
  #header div.section,
  #menu-bar div.section,
  #messages div.section,
  #main,
  #footer {
    max-width: 960px;
  }
  #header {
    text-align: left;
  }
  /* ----- hide responsive nav ----- */
  #navigation .selector, #navigation #main-menu {
    display: none;
  }
  #block-system-main-menu {
    display: block;
  }
  #content,
  #sidebar-first,
  #sidebar-second {
    display: inline;
    float: left; /* LTR */
    position: relative;
  }
  .two-sidebars #content {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
  }
  .one-sidebar #content {
    width: 80%;
  }
  .no-sidebars #content {
    width: 100%;
  }
  .sidebar-first #content {
    margin-left: 20%;
    margin-right: 0;
  }
  .sidebar-second #content {
    margin-right: 20%;
    margin-left: 0;
  }
  #sidebar-first {
    width: 20%;
    margin-left: -100%;
  }
  #sidebar-second {
    width: 20%;
    margin-left: -20%;
    clear: none;
  }

  /*-- both sidebar right ---*/
  .both-sidebar-right.sidebar-first #content {
    margin-left: 0;
    margin-right: 20%;
  }
  .both-sidebar-right.sidebar-first #sidebar-first {
    margin-left: -20%;
  }
  .both-sidebar-right.two-sidebars #content {
    margin-left: 0;
    margin-right: 60%;
  }
  .both-sidebar-right.two-sidebars #sidebar-first {
    margin-left: -60%;
  }
  /* --- both sidebar left ---*/
  .both-sidebar-left.sidebar-second #content {
    margin-right: 0;
    margin-left: 20%;
  }
  .both-sidebar-left.sidebar-second #sidebar-second {
    margin-left: -100%;
  }
  .both-sidebar-left.two-sidebars #content {
    margin-left: 60%;
    margin-right: 0;
  }
  .both-sidebar-left.two-sidebars #sidebar-second {
    margin-left: -80%;
  }
  .top-links {
    clear: none;
    width: auto;
    margin: 0;
    position: absolute;
    top: 72px;
    right: 120px;
  }
  #header {
    height: 150px;
  }