#block-block-6 {
  font-weight:normal;
  font-size:12px;
  color:#666;
}

#edit-title {
  font-size: 24px;
  width: 98%;
}

div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

#system-themes-form img {
  width: 100px;
}

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

#edit-delete {
  color: #cc0000;
}

#block-menu-menu-footer-menu .content ul.menu{
  width: 100%;
  padding-left: 10px;
}

#block-menu-menu-footer-menu .content ul.menu li{
  float: left;
  list-style: none;
  padding-right: 31px;
}

.boxgrid { 
  width: 230px; 
  height: 160px; 
  margin: 10px; 
  float: left; 
  background: #161613; 
  border: solid 2px #8399AF; 
  overflow: hidden; 
  position: relative; 
}
.boxgrid img { 
  position: absolute; 
  top: 0; 
  left: 0; 
  border: 0; 
}
.boxgrid p { 
  padding: 0 10px; 
  color: #afafaf; 
  font-weight: bold; 
  font: 10pt "Lucida Grande", Arial, sans-serif; 
}
				
.boxcaption { 
  float: left; 
  position: absolute; 
  background: #000; 
  height: 100px; 
  width: 100%; 
  opacity: .8; 
  /* For IE 5-7 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  /* For IE 8 */
  -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.captionfull .boxcaption {
  top: 160px;
  left: 0;
}
.image-container .image {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  padding: 2px;
}	
.body,.price {font-size: 20px;}


.view-id-pianocategory .views-row-odd , .view-id-pianocategory .views-row-even { height:200px; border-bottom: 1px solid #000000; float: left; padding-top: 22px; }
.view-id-pianocategory .views-field-tid { float:left; margin-right:20px; }
.view-id-pianocategory .views-field-name {  
  font-size: 16px;
  padding-left: 10px;
}
.view-id-pianocategory img {
  border: 1px solid #000000;
  padding: 2px;
}
th.views-field-field-price-value { width:62px; }
.view-id-piano_list th  {
  font-size: 16px;
}	
.view-id-piano_list img {
  border: 1px solid #000000;
  padding: 2px;
}
.view-id-piano_list .views-row {
  margin-bottom: 20px;
  padding: 20px;
  display: block;
  overflow: auto;
}
.view-id-piano_list .views-row .views-field-field-photos-fid {
  float: right;
  margin-top: -30px;
}
.view-id-piano_list .views-row .views-field-title a {
  font-size: 22px;
  text-decoration: none;
  color: #333;
}
.view-id-piano_list .views-row .views-field-title a:hover{
  font-size: 22px;
  text-decoration: none;
  color: black;
}
.view-id-piano_list .views-row .views-field-teaser, .view-id-piano_list .views-row .views-field-field-price-value {
  float: left;
  display: block;
  width: 370px;
  font-size: 16px;
  color: gray;
}
.view-id-piano_list .views-row .views-field-teaser {
  margin-top: 20px;
}

#block-block-2 {
  text-align: center;
  margin-top: 5px;
}
#block-block-7 {
  text-align: center;
}
#content-top {
  height: 300px;
}

/* ---left side main menu ---- */
#block-system-main-menu {
  display: none;
}
#block-system-main-menu ul.menu, #block-system-main-menu ul.menu li {
  padding: 0;
  margin: 0;
}  
#block-system-main-menu ul.menu li {
  list-style: none;
  background: url('../images/menu-btn.gif') no-repeat;
  text-align: center;
  width: 150px;
}
#block-system-main-menu ul.menu li:hover {
  list-style: none;
  background: url('../images/menu-btn.gif') 0 -38px no-repeat;
  text-align: center;
}
#block-system-main-menu .content ul.menu li a {
  display: block;
  height: 18px;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
#block-system-main-menu .content ul.menu li a:hover{
  text-decoration: none;
  color: #F00;
}
#block-system-main-menu .content ul.menu li a.active{
  color: #F00;
}

#block-block-3 {
  background-color: #FFF; 
  font-size:19px;
  text-align:center;
  color:#016bb5;
  font-weight:bold;
}		
#block-block-3 li {
  list-style-type: none;
  padding-top: 18px;
}
#block-block-3 li a.active {
  color: #F00;
}
#footer p {
  font-size: 10px;
  text-align: center;
}
#footer a {
  color: #666;
  font-size: 10px;
  padding: 0 10px;
}
#content img {
  margin: 5px;
  float: right;
}
#block-block-4 p {
  text-align: center;
}
#block-editable_blocks-1 {
  background-color: #FFF;
}
#block-editable_blocks-1 p {
  font-size:14px;
  padding-right:10px;
  padding-top:10px;
}
#block-fblikebutton-0 {
  background-color:#FFF;
  margin-top:30px;
  padding-right:1px;
}
.contact p{
  text-align: center;
}
#content .contact img{
  float: none;
}

.view-paino-cat-list .views-row, .view-taxonomy-term .views-row {
  border: 1px solid #999;
  box-shadow: 10px 10px 5px #888888;
  margin-bottom: 20px;
  overflow: auto;
  padding: 10px;
  width:95%;
}
#content .view-paino-cat-list img, #content .view-taxonomy-term img, #content .node-pianos-type img, #content .utube-lbox img  {
  float: left;
  padding: 5px;
  border: 1px solid #999;
}
.utube-lbox {
  clear: both;
  padding: 20px 0;
}
.node .list p {
  text-align: center;
}
.view-paino-cat-list .title, .view-taxonomy-term .title {
  color: #FF0000;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 0;
  font-weight: bold;
}
.view-paino-cat-list .value, .view-taxonomy-term .value {
  color: red;
    font-size: 20px;
    margin-bottom: 10px;
}
.view-paino-cat-list .brand, .view-taxonomy-term .brand {
  color: red;
  font-size: 20px;
  margin-bottom: 10px;
}
.field-field-content-photo-2, .field-name-field-content-photo-2 {float:left; padding:15px;}
.item-list .pager {
  font-size:20px;
  font-weight:bold;
}
.node-type-contact p {
  font-size: 13px;
  line-height: 30px;
  text-align: left;
  padding: 20px;
  font-weight: normal;
  float: left;
}
.node-type-contact .field {
  padding: 10px;
  border: 1px solid #E0E0E0;
  float: left;
  width: 47%;
}
.node-type-contact .field .field-label, .node-type-contact .field .field-label-inline, .node-type-contact .field .field-label-inline-first {
  float: left;
  width: 200px;
}
.view-contacts .item-list .pager{
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
}
.view-contacts {
  font-size: 12px;
}
.node-type-contact .print-link {
  overflow: auto;
}

/* --------------- Navigation select box selector------------ */

#navigation .selector {
  margin: 0;
  padding: 0;
  border: none;
  font-weight: bold;
  line-height: 45px;
  text-indent: 30px;
  height: 45px;
  width: 100%;
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  cursor: pointer !important;
  text-align: left
}
#navigation .selector:hover {
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
}
#navigation .selector select:focus {
  outline: 0;
}
#navigation .selector span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 60px;
}
#navigation .selector select {
  position: absolute;
  top: 0px;
  left: 0;
  height: 45px;
  background: none;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}
#navigation .selector option {
  padding: 10px 30px;
}

/* ---- main menu -----*/

#main-menu {
  z-index: 99999;
  display: none;
}
#main-menu ul.menu {
  font-size: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
}
#main-menu ul.menu li{
  float: none;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#main-menu ul.menu a {
  display: block;
  text-decoration: none;
  padding: 0.4em 10px;
}
#main-menu ul.menu li.first a {
  padding-left: 0;
}
#main-menu ul.menu li.last a {
  padding-right: 0;
}
#main-menu ul.menu li {
  position: relative;
  margin-bottom: 1px;
}
#main-menu ul.menu ul {
  display: none;
  padding: 0;
  position: absolute;
  top: 35px;
  left: 0;
  width: 170px;
  z-index: 99999;
}
#main-menu ul.menu li:hover ul {
  display: block;
}
#main-menu ul.menu ul li {
  font-size: 12px;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
}
#main-menu ul.menu ul li.expanded a:after, #main-menu ul.menu ul li.expanded li.expanded a:after,
#main-menu ul.menu ul li.expanded li.expanded li.expanded a:after {
  content: " »";
}
#main-menu ul.menu ul li.expanded li a:after, #main-menu ul.menu ul li.expanded li.expanded li a:after,
#main-menu ul.menu ul li.expanded li.expanded li.expanded li a:after {
  content: "";
}
#main-menu ul.menu ul li a, #main-menu ul.menu li li.first a, #main-menu ul.menu li li.last a {
  height: auto;
  text-indent: 0px;
  padding: 0.4em 10px;
  line-height: 21px;
}
#main-menu ul.menu ul ul {
  display: none;
  top: -1px;
  left: 170px;
}
#main-menu ul.menu ul li:hover ul {
  display: block;
}
.sharethis-buttons {
  clear: both;
}
#footer .block-fancy-login {
  text-transform: uppercase;
}


